.container {
  display: grid;
  grid: 300px 300px / repeat(4, 300px);
  justify-content: center;
  grid-gap: 8px;
  margin-top: 8px;
  
  
}

.container img {
  display:flex;
  margin:0 auto;
  width:100%;
  height:100%;
  object-fit: cover;
  transition: all .2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container img:hover{
  transform: scale(0.95);
}
.container img:active{
  transition: all .05s ease-in-out;
  transform: scale(1);
}

.container div:first-child {
  grid-column: 1 / 3; 
  grid-row: 1 / 3;    
}

.container div:nth-child(2) {
  grid-column: 3;  
  
}
.containerflip {
  display: grid;
  grid: 300px 300px / repeat(4, 300px);
  justify-content: center;
  grid-gap: 8px;
  margin-top: 10px;
}

.containerflip img {
  display:flex;
  margin:0 auto;
  width:100%;
  height:100%;
  object-fit: cover;
  transition: all .2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.containerflip img:hover{
  transform: scale(0.95);
}
.containerflip img:active{
  transition: all .05s ease-in-out;
  transform: scale(1);
}

.containerflip div:nth-child(1) {
  grid-column: 1;     
}
.containerflip div:nth-child(5){
  
  grid-column: 3 / 5 ; 
  grid-row: 1 / 3;    
}
body{
  background-color: #121212;
  font-family: 'Noto Sans JP', sans-serif;
}

.slice{
  margin-bottom: 2rem;
  justify-content: center;
  display: grid;
  height: 2.5rem;


  
}

.alignTipka2{
  display: flex;
  
}

.viewTipka{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #1F1A24;
  color: white;
  border:none;
  font-size: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  margin-right: 5px;
  transition: all .2s ease-in-out;
  
}

.dodajTipka{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border:none;
  font-size: 1.2rem;
  background-color: #1F1A24;
  color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  transition: all .2s ease-in-out;
  
}
.dodajTipka:hover{
transform: scale(0.95);
border: 2px solid #BB86FC;
cursor:pointer;
}
.viewTipka:hover{
  transform: scale(0.95);
  border: 2px solid #BB86FC;
  
cursor:pointer;
  }



.imageGallery {
  width: 100%;
  height: 600px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



.containContainContain{
  display: flex;
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}
.containContain{
  width: 100%;
  height: 100px;
  
}
.contain{
  display: flex;
  background: #332940;
  color: white;
  width: 250px;
  margin: auto auto;
  height: 40px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  
}

h1{
  margin: 0;
}

.containName {

  display: flex;
  background-color: white;
  width: 300px;
  height: 60px;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 25px;
  
  text-transform: uppercase;
  
  
}

.gridInlineFather {
  display: grid;
  grid: 150px 140px / 300px 912px;
  justify-content: center;
  row-gap: 8px;
  margin-top: 8px;
}

.imageInline{
  width: 100%;
  height: 300px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.imageInline:hover{
  transition: all .1s ease-in-out;
  transform: scale(0.95);
}
.imageInline:active{
  transition: all .1s ease-in-out;
  transform: scale(1);
}

.gridInlineChild1 {
  width: 100%;

   
}

.gridInlineChild2 {
height: 300px;
text-align: center;
background-color: rgba(0,0,0,0.5);
grid-column: 2 / 3; 
background-color: #1F1A24;
}

.img1size{
  vertical-align:middle;
}
.img2size{
  vertical-align:middle;
}

.modalBody {
  position: absolute;
  display: block;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1F1A24;
  box-shadow: 24;
  padding: 4rem;
  border: none;
  
}



.naslovAlign{
  justify-content: center;
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}

.modal {
    font-size: 12px;
   
  }
.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
.modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }


input {
  font-family: 'Noto Sans JP', sans-serif;
  color: rgb(0, 0, 0);
				letter-spacing: 0.15em;
				display: inline-block;
				padding: 15px 20px;
				position: relative;
        border:0;
        width:calc(100%-2px)
			}
input:focus {
				outline: none;
			}

textarea:focus {
				border: 0;
				outline: 0;
			}
textarea {
  font-family: 'Noto Sans JP', sans-serif;
  text-decoration: none;
				letter-spacing: 0.15em;
				display: inline-block;
				padding: 15px 20px;
				position: relative;
				border-bottom: #baada7;
				border: 2px;
				outline: none !important;
        width:93%
			}
.prew > img{
  max-height: 300px;
}

.droparea{
  justify-content: center;
  display: flex;
}
.hover{
  color: orange;
  border: 1px dotted green;
}

.valid{
  color: orange;
  background-color: cyan;
  border: 1px dotted cyan;
}

.invalid{
  color: orange;
  background-color: crimson;
  border: 1px solid crimson;
}

.naslovBijeli{
  color: white;
}

.containLarge{
  display: flex;
  background: #332940;
  color: white;
  height: inherit;
  min-height: 10rem;
  border-radius: 2rem;
  margin-top: 15px;
  padding: 1rem;
  padding-left: 2rem;
}

.containDesc{
  display: flex;
  background: #332940;
  color: white;
  width: 700px;
  margin: auto auto;
  height: 110px;
  border-radius: 15px;

  padding-inline: 30px;
  margin-top: 10px;
  
}

.naslovBijeliDesc{
  color: white;
  margin-top: 30px;
}

.alignSlikaModal{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
 

  
}

.containFlip{
  display: flex;
  background: #332940;
  color: white;
  width: 250px;
  height: 40px;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
 

  
}

.alignCardFlip{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonFlip{
  position: fixed;
  left: 47.5%;
  bottom: 95%;
  z-index: 99999;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  padding: 0;
border: none;
background: white;
}
.buttonFlip2{
  position: fixed;
  left: 47.5%;
  top: 240%;
  z-index: 99999;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  padding: 0;
border: none;
background: white;
}
.buttonFlip2:hover{
  transform: scale(0.90);
  transition: all .2s ease-in-out;
}
.buttonFlip2:active{
  transition: all .05s ease-in-out;
  transform: scale(1);
}

.buttonFlip:hover{
  transform: scale(0.90);
  transition: all .2s ease-in-out;
}
.buttonFlip:active{
  transition: all .05s ease-in-out;
  transform: scale(1);
}

/* .containerUpload{
  transform: translateY(-100%);
} */

.containerUpload p {
  color: red;
  text-align: center;
}

.drop-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 800px;
  height: 200px;
  border: 4px dashed #4aa1f3;
}
.drop-message {
  text-align:center;
  color: #4aa1f3;
  font-family: Arial;
  font-size: 20px;
}
.upload-icon{

  
  background-size:100%;
  text-align: center;
  margin: 0 auto;
 
} 
.previewImage{
  display:flex;
  justify-content: center;
  margin: 0 auto;
}
.removebtn{
  display:flex !important;
  justify-content: center !important;
  margin: 15px auto !important;
}

.backgroundOfG{
  justify-content: center;
  margin: 0 auto;
  background-color: #1F1A24;
  padding: 4rem;
  padding-top: 2rem;

  width: fit-content;
  
}

.positionFlip {
  padding: 64px;
}

.containNA{
  padding: 20px;
}